.main{
    margin: 20px 20px 100px 20px;
}
.imgBackground{
    height: 223px;
}
.paragraph{
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
@media only screen and (min-width: 1000px) {
    .main{
        margin: 50px 100px;
    }
    .dropdowns{
        display: flex;
        flex-direction: column;
        margin: 20px 50px;
    }
}