.background{
    position: relative;
    margin-top: 20px;
}
.tall{
    height: 223px;
}
.small{
    height: 111px;
}
.img, .filtre{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.img{
    object-fit: cover;
}
.filtre{
    background-color: black;
    opacity: 0.3;
    left: 0;
}
.filtre, .text{
    position: absolute;
}
.text{
    z-index: 1;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    left: 9.6%;
    right: 32.53%;
    top: 14.04%;
    bottom: 80.05%;
    margin-block-start: 0;
    margin-block-end: 0;
}
@media only screen and (min-width: 1000px) {
    .small{
        height: 223px;
    }
    .img, .filtre{
        border-radius: 25px;
    }
    .text{
        font-size: 48px;
        line-height: 68.45px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}